{% extends 'base.html' %}

{% block content %}

{% url 'dictionary:all' as list_all %}

<div class="container d-flex justify-content-center mt-5" style="width: 50%;">
    <div class="col mt-5 text-center">
        <h1 class="mb-5">Delete Translation</h1>

        <p class="h5">Are you sure you want to delete the Translation:</p>
        <h3 class="my-5">{{translation.translation}}</h3>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary btn-lg" value="Confirm" >
            <a href="{% url 'dictionary:all'%}" class="btn btn-primary btn-lg">Cancel</a>
        </form>
    </div>
</div>

{% endblock %}
