{% extends 'base.html' %}

{% block content %}

{% url 'dictionary:all' as list_all %}

<div class="container d-flex justify-content-center mt-5" style="width: 50%;">
    <div class="col mt-5 text-center">
        <h1 class="mb-5">Delete Word</h1>

        <p class="h5">Are you sure you want to delete the Word:</p>
        <h3 class="my-5">{{word.word}}</h3>
        <form action="" method="POST">
            {% csrf_token %}
            {% comment %} <input type="submit" value="Confirm">
            <input type="submit" value="Cancel" onclick="'{% url 'dictionary:all' %}'; return false;"> {% endcomment %}
            <input type="submit" class="btn btn-primary btn-lg" value="Confirm" style="margin-right: 30px; margin-top: 30px;">
            <a href="{% url 'dictionary:all' %}" class="btn btn-primary btn-lg"  style="margin-right: 30px; margin-top: 30px;">Cancel</a>
        </form>
    </div>
</div>

{% endblock %}